---
layout: default
title: Downloads
---

<p class="mainDownload"><a title="Download the latest Fluent NHibernate release (version 1.1)" href="/downloads/releases/fluentnhibernate-1.1.zip" onclick="javascript:pageTracker._trackEvent('Downloads', 'Release', '/downloads/releases/1.1');"><span>Download</span> Fluent NHibernate 1.1</a></p>

<p class="subtext"><a href="javascript:void(0);" id="previousReleasesToggle">Show previous releases</a></p>

<div id="previousReleases" class="alt">
	<h3>Previous releases</h3>
	<ul>
	  <li><a href="/downloads/releases/fluentnhibernate-1.0RTM.zip" onclick="javascript:pageTracker._trackEvent('Downloads', 'Release', '/downloads/releases/1.0RTM');">Fluent NHibernate 1.0RTM</a></li>
	  <li><a href="/downloads/releases/fluentnhibernate-1.0RC.zip" onclick="javascript:pageTracker._trackEvent('Downloads', 'Release', '/downloads/releases/1.0RC');">Fluent NHibernate 1.0RC</a></li>
	</ul>
</div>

<h2>Stable pre-release binaries <span>v1.x branch</span></h2>
    
<p>We provide binaries built against our pre-release branch which will eventually become the v1.2 release. Use these binaries when the latest official release isn't sufficient. <strong>Please use these with caution</strong>, while we do make the upmost effort to ensure backwards compatibility these binaries are pre-release and may occasionally contain occasional breaking changes.</p>
    
{% include downloads.v1.x.md %}

<h2>Unstable &#8220;future&#8221; binaries <span>v2.0 branch</span></h2>
    
<p>These binaries are from our <code>master</code> branch, and will eventually become the v2.0 release. These binaries <em>will</em> contain <strong>breaking changes</strong>, only use if you're aware of the consequences; things will be deleted, moved, and changed seemingly at random. <strong>Proceed with caution!</strong></p>
    
{% include downloads.master.md %}
    
<h2>Source code</h2>
<p>If you would like to build Fluent NHibernate yourself or help us out with contributions, you can get the source code from our Github repository.</p>
  
<div class="alt">
  <p>Github: <code><a href="http://github.com/jagregory/fluent-nhibernate">http://github.com/jagregory/fluent-nhibernate</a></code></p>
  <p>Clone url: <code>git://github.com/jagregory/fluent-nhibernate.git</code></p>
</div>

<p>If you are interested in contributing, have a read of the <a href="http://wiki.fluentnhibernate.org/Contributing">contributing guide</a> on our <a href="http://wiki.fluentnhibernate.org">wiki</a>, and drop by the <a href="http://groups.google.com/group/fluent-nhibernate">mailing list</a>.</p>