<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
  <head> 
    <title>
      {% if page.title %}
        {{ page.title }} - Fluent NHibernate
      {% else %}
        Fluent NHibernate
      {% endif %}
    </title> 
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
    <meta name="description" content="Fluent NHibernate, a statically compiled alternative to NHibernate's standard hbm xml mapping."> 
    <meta name="keywords" content="orm, object relational mapping, nhibernate, mapping, hbm, xml, nh, fnh, fluent nhibernate, fluent interface, method chaining, static reflection" /> 
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" /> 
    <link rel="icon" type="image/png" href="/images/favicon.png" /> 
    <link type="application/atom+xml" title="Atom feed" href="http://feeds.feedburner.com/fnh" />
  </head> 
  <body id="blog"> 
    <div id="head"> 
      <h1><a href="/"><img src="http://fluentnhibernate.org/images/logo.png" alt="Fluent NHibernate - Fluent mapping for your model" /></a></h1> 
    
      <ul id="menu"> 
        <li><a href="http://support.fluentnhibernate.org">Support</a></li> 
        <li><a href="http://wiki.fluentnhibernate.org">Wiki</a></li> 
        <li><a href="http://fluentnhibernate.org/downloads">Downloads</a></li> 
        <li><a href="http://groups.google.com/group/fluent-nhibernate">Mailing List</a></li> 
        <li><a href="/blog/index">Blog</a></li>
      </ul> 
    </div>

    <div id="post">
      <h2><a href="{{ permalink }}">{{ page.title }}</a></h2>
      <p class="meta">by <span>{{ page.author }}</span> on <span>{{ page.date | date_to_string }}</span></p>
    
      {{ content }}
    </div>
    
    <p class="copy">Fluent NHibernate is &copy; 2008-2011 <a href="http://jagregory.com">James Gregory</a> and contributors under the
      <a href="http://github.com/jagregory/fluent-nhibernate/raw/master/LICENSE.txt">BSD license</a>.</p> 
    
    <br /> 
    <script type="text/javascript"><!--
    google_ad_client = "pub-0109731718957549";
    /* fnh half-banner */
    google_ad_slot = "5099640624";
    google_ad_width = 234;
    google_ad_height = 60;
    //-->
    </script> 
    <script type="text/javascript"
    src="http://pagead2.googlesyndication.com/pagead/show_ads.js"> 
    </script> 
      
    <!-- google analytics stuff --> 
    <script type="text/javascript"> 
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script> 
    <script type="text/javascript"> 
      try {
        var pageTracker = _gat._getTracker("UA-3186192-5");
        pageTracker._setDomainName('.fluentnhibernate.org');
        pageTracker._setAllowLinker(true);
        pageTracker._setAllowHash(false);
        pageTracker._trackPageview();
      } catch(err) {}
    </script> 
<!--

Unicorn:

\
 \ji
 /.((( 
(,/"(((__,--.
    \  ) _( /{ 
    !|| " :||      
    !||   :|| 
    '''   ''' 

-->
  </body> 
</html> 
